/* Basic Elements ************************************/

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object,
video {
  margin-bottom: 24px;
  max-width: 100%;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
  margin-bottom: 0;
}

/* Wordpress Alignment ************************************/

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 1em 2em 1em 0;
}

blockquote.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 1em 2em;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Assistive text ************************************/

.assistive-text,
.site .screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:focus {
  background: #fff;
  border: 2px solid #333;
  border-radius: 3px;
  clip: auto !important;
  color: #000;
  display: block;
  padding: 12px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100000; /* Above WP toolbar */
}

/* Images ************************************/

#site-header-image {
  text-align: center;
}

.comment-content img,
.entry-content img,
.entry-summary img,
#site-header img,
.widget img,
.wp-caption {
  max-width: 100%;
}

/*
 Make sure images with WordPress-added height and width attributes are
 scaled correctly.
*/

.comment-content img[height],
.entry-content img,
.entry-summary img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
#site-header img {
  height: auto;
}

img.size-full,
img.size-large,
.wp-post-image,
.post-thumbnail img {
  height: auto;
  max-width: 100%;
}

.wp-caption {
  margin-bottom: 24px;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0;
}

.wp-caption {
  color: #767676;
}

.wp-caption-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.5;
  margin: 0.5em 0 0 0;
}

.wp-smiley {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Navigation ************************************/

#site-navigation {
  clear: both;

  ul.nav-menu,
  div.nav-menu > ul {
    padding: 0;
    margin: 0;
  }

  ul ul {
    padding-left: 1em;
  }

  li {
    vertical-align: middle;
    display: block;
    text-align: left;
    vertical-align: bottom;
    margin: 0.4em 0;
  }

  a {
    padding: 0 1em;
  }

  ul.nav-menu,
  div.nav-menu > ul {
    display: none;
  }

  .nav-menu.toggled-on {
    display: inline-block;
  }
}

#menu-toggle {
  display: inline-block;
  float: right;
  margin-top: 1em
}

.nav-previous,
.previous-image {
  display: block;
  text-align: center;
  @include paragraph-spacing;
}

.nav-next,
.next-image {
  display: block;
  text-align: center;
  @include paragraph-spacing;
}

/* Spacing ************************************/

article footer,
section,
.comment-list .reply {
  @include paragraph-spacing;
}

#secondary {
  @include section-spacing;
}

#comments,
#respond,
nav.nav-single,
footer#colophon {
  @include section-spacing;
}

aside {
  ul, ol {
    list-style-type: none;
    padding-left: 0;

    & li {
      padding-left: 0;
    }
  }
}

/* Forms ************************************/

.form-allowed-tags code {
  background: none;
  border: none;
}

.input-group, label {
  margin-bottom: 0.5em;
}

.search-form {
  input[type="search"] {
    width: 60%;
  }
}

/* Entries ************************************/

.sticky,
article.format-link .entry-content  {
  background: $light-bg-color;
  padding: 1em 1.5em;
  border: 1px solid $light-text-color;
  @include paragraph-spacing;
}

.sticky {
  .featured-post {
    font-style: italic;
    color: $danger-text-color;
  }
}

article.format-quote .entry-content {
  border-left: 3px solid $light-text-color;
}

article.post,
article.page {
  @include section-spacing;

  header {
    @include paragraph-spacing;
  }
}

/* Gallery ************************************/

/*
  Gallery styles borrowed from Wordpress' Twenty Twelve Theme
  https://wordpress.org/themes/twentytwelve
*/

.gallery {
  margin-bottom: 20px;
}

.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: -webkit-calc(50% - 4px);
  max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: -webkit-calc(33.3% - 4px);
  max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(25% - 4px);
  max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(20% - 4px);
  max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(16.7% - 4px);
  max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(14.28% - 4px);
  max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(12.5% - 4px);
  max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(11.1% - 4px);
  max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}

.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
}

.gallery-caption:before {
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.gallery-item:hover .gallery-caption {
  opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Link ************************************/

article.format-link {
  header {
    display: none;
  }
}

/* Comments ************************************/

.comment-list cite {
  font-style: normal;
}

.comment-list,
.comment-list ol.children {
  list-style-type: none;
  padding-left: 0;
}

.comment-list li.comment {
  margin-top: $paragraph-margin-top * 2;
  margin-bottom: $paragraph-margin-bottom * 2;
  padding-top: $paragraph-margin-top * 2;
  border-top: 1px solid $light-text-color;
}

.comments-area article header cite,
.comments-area article header time {
  display: block;
  margin-left: 4em;
}

.comments-area article header img {
  float: left;
  padding: 0;
  line-height: 0;
}

.comment-awaiting-moderation {
  font-style: italic;
  color: $danger-text-color;
}

.comment-list li.comment.bypostauthor {
  background: $light-bg-color;
  padding: 1em 1.5em;
  border: 1px solid $light-text-color;
}

.comment-list .author-tag {
  font-style: italic;
  font-size: 0.9em;
}

/**
*
* Media Queries
*
*/

/* XS */
@media (max-width: 47.99em) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.4em
  }
}

/* MD */
@media (min-width: 62em) {
  #site-navigation {
    ul {
      margin: 0;
      padding: 0;
      text-indent: 0;
    }

    ul.nav-menu,
    div.nav-menu > ul {
      display: inline-block !important;
      text-align: left;
      width: 100%;
      border-bottom: 1px solid #ededed;
      border-top: 1px solid #ededed;
      margin: 0;
    }

    li {
      display: inline-block;
      margin: 0 40px 0 0;
      margin: 0 0 0 0;
      position: relative;
      text-align: center;
    }

    li li {
      text-align: left;
    }

    ul ul {
      padding-left: 0;
    }

    li ul {
      display: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      z-index: 1;
    }

    li a {
      line-height: 3.7;
      white-space: nowrap;
    }

    li a,
    li {
      display: inline-block;
      text-decoration: none;
    }

    &.collapse {
      height: auto !important;
      overflow: visible !important
    }

    li ul li a {
      background: #efefef;
      display: block;
      line-height: 1.5;
      padding: 8px 10px;
      width: 200px;
      white-space: normal;

      &:hover {
        background: #e3e3e3;
      }
    }

    li ul ul {
      top: 0;
      left: 100%;
    }

    ul li:hover > ul {
      border-left: 0;
      display: block;
    }

    .current-menu-item > a,
    .current-menu-ancestor > a,
    .current_page_item > a,
    .current_page_ancestor > a {
      font-weight: bold;
    }
  }

  #menu-toggle {
    display: none;
  }

  #secondary {
    padding-left: 2em;
  }

  #primary {
    padding-right: 2em;

    &.full-width,
    &.front-page {
      padding-right: 0;
    }
  }

  .nav-previous,
  .previous-image {
    float: left;
    width: 50%;
    text-align: left;
  }
  .nav-next,
  .next-image {
    float: right;
    text-align: right;
    width: 50%;
  }

  .comment-list ol.children {
    margin-left: 4em;
    padding-left: 1em;
    border-left: 3px solid $light-text-color;

    li.comment {
      border-top: none;
      padding: 0;
    }
  }
}
